* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    /* border:1px solid grey; */
  }
html {
  font-size: 62.5%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: .5% 0;
  z-index: 999;
  background-color: rgba(250, 250, 250, .8);
  top: 0;
}
header ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 15%;
}
.logo h2 {
  font-size: 3rem;
  margin-left: 2%;
}
.text-center {
  margin-top: .3%;
  text-align: center;
  font-size: 2rem;
}
body {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  margin-top: 3.7%;
}
h1 {
  font-size: 5rem;
  text-align: center;
  margin: 2% 0;
  font-family: 'Poiret One', cursive;
}
h2 {
  font-size: 4rem;
  margin: 1% 0;
  font-family: 'Poiret One', cursive;
}
nav {
  text-align: center;
}
li {
  display: inline-block;
  margin: 0 5%;
}
header a {
  color: #ae5c04;
  transition: 2s;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
header a:hover {
  color: #146971;
}
.home {
  text-align: center;
  color: #146971;
  height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1486365227551-f3f90034a57c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.about {
  
}
.titles {
  width: 30%;
  margin-left: 5%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.notFound {
  text-align: center;
  margin: 3% 0;
}
table {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}
.table {
  margin-bottom: 3%;
}
td {
  margin: 4% 0;
}
#add {
  font-size: 2rem;
}
#addBird {
  font-size: 2rem;
  margin-bottom: 2%;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.sidebar {
  background-color: #146971;
  color: white;
  height: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.home .sliderContainer {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-top: 5%;
}

.add {
  background-color: #146971;
  color: white;
  border: 2px solid #146971;
  transition: 2s;
}
.add:hover {
  color: #146971;
  background-color: white;
}
.delete {
  background-color: #cf1804;
  color: white;
  border: 2px solid #cf1804;
  transition: 2s;
}
.delete:hover {
  color: #cf1804;
  background-color: white;
}

.button-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-head-birds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
}
footer {
  background-color: #146971;
  color: #e27a01;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 150px;
}
footer div {
  width: 40%;
}
footer a {
  color: #e27a01;
  transition: 2s;
}
footer a:hover {
  color: white;
}
footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer nav a {
  margin: 2% 0;
}
.footer-one {
  margin: 4%;
}
footer img {
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about {
  display: flex;
  margin-top: 7%;
  margin-bottom: 7%;
}
.about div {
  width: 100%;
}
.text{
  margin-left: 3%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-container img {
  width: 75%;
}
