* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    /* border:1px solid grey; */
  }
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
}
h1 {
  font-size: 5rem;
  text-align: center;
  margin: 2% 0;
}
h2 {
  font-size: 4rem;
  margin: 1% 0;
}
nav {
  text-align: center;
}
li {
  display: inline-block;
  margin: 0 5%;
}
.home {
  text-align: center;
  margin: 3% 0;
}
.notFound {
  text-align: center;
  margin: 3% 0;
}
table {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  margin: 2% 0;
}
tr {
  border: 1px solid gray;
}
td {
  margin: 4% 0;
}
/* .home .sliderContainer {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-top: 5%;
}
@keyframes slide_animation {
  0% {left: 0px;}
  10% {left: 0px;}
  20% {left: 1200px;}
  30% {left: 1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left: 0px;}
}
.home .slideImages {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  animation-name: slide_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
.home .imageContainer {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
} */